:root{
    --container-background-color: rgba(244, 246, 248, 1);
    --main-theme-color: rgba(147, 155, 244, 1);
    --content-color: rgba(255, 255, 255, 1);
    --input-search-color: rgba(25, 32, 45, 1);
    --input-background-color: rgba(255, 255, 255, 1);
    --toggler-background-color: rgba(255, 255, 255, 1);
    --toggle-color: rgba(147, 155, 244, 1);
    --text-color: rgba(25, 32, 45, 1);

}

.dark-mode{
    --container-background-color: rgb(6, 12, 24);
    --main-theme-color: rgb(158, 153, 150);
    --content-color: rgb(28, 40, 61);
    --input-background-color: rgb(28, 40, 61);
    --position-color: #fff;
    --toggler-background-color: rgba(255, 255, 255, 1);;
    --toggle-color: rgba(147, 155, 244, 1);
    --text-color: rgba(255, 255, 255, 1);
}

@font-face {
    font-family: Kumbh;
    src: url(/starter-code/assets/Kumbh_Sans/static/KumbhSans-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Kumbh;
}

.container{
    width: 100vw;
    min-height: 100vh;
    background: var(--container-background-color);
    display: flex;
    flex-direction: column;
    font-family: Kumbh;
}
.header{
    width: 100vw;
    position: relative;
}

.top{
   width: 100vw;
   background-image: url(/starter-code/assets/desktop/bg-pattern-header.svg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   border-radius: 0px 0px 0px 100px;
   display: flex;
   height: 130px;
   align-items: center;
   justify-content: space-between;
   padding: 10px 150px 40px 150px;
}

.toggle{
    display: flex;
    align-items: center;
    gap: 10px;
}

.toggle-button{
    width: 60px;
    height: 25px;
    border-radius: 30px;
    background: var(--white-color);
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.toggle-button > div{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}
.toggle-button .active-theme{
    background: var(--main-theme-color);
}

.dark-toggler{
    background-color: rgba(18, 23, 33, 1);
}

.dark-theme{
    background-color: rgba(25, 32, 45, 1);
}

.header .scoot-bar{
    position: relative;
    border-radius: 6px;
    width: 730px;
    height: 140px;
    background: var(--content-color);
    margin-left: 335px;
    margin-top: -45.46px;
    display: flex;
}

.scoot{
    position: relative;
    width: 140px;
    height: 140px;
    background: #E99210;
    border-radius: 0px 0px 0px 6px;
    display: flex;
    justify-content: center;
}

.scoot img{
    position: absolute;
    width: 81px;
    height: 23px;
    top: 40%;
}

.scoot-text{
    position: absolute;
    width: 78px;
    height: 56px;
    left: 180px;
    top: 42px;
    color: var(--text-color);
}

    /* Scoot */
.scoot-text p{
    position: absolute;
    height: 24px;
    left: 0%;
    right: 16.67%;
    top: calc(50% - 24px/2 - 16px);
    font-family: Kumbh;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #19202D;
    text-transform: capitalize;
}

.scoot-text #com{
    position: absolute;
    height: 20px;
    left: 0%;
    right: 2.56%;
    top: calc(50% - 20px/2 + 19px);
    font-family: Kumbh;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #6E8098;
}

.company-site button{
    position: absolute;
    top: calc(50% - 20px/2 + 2px); 
    text-transform: capitalize;
    font-family: Kumbh;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    color: #5964E0;
    left: 77.79%;
    right: 5.89%;
    background-color: #EEEFFC;
    width: 150px;
    height: 48px;
    top: 46px;
    left: 540px; 
}

.company-site .company button:hover{
    background-color: rgba(147, 155, 244, 1);
}

.content{
    position: relative;
    width: 730px;
    height: 1257px;
    background: var(--content-color);
    border-radius: 6px;
    top: 32px;
    margin-left: 335px;
    min-height: 100vh;
    /* border: 2px solid red; */
}

.software-div{
    position: absolute;
    width: 639px;
    height: 87px;
    left: 48px;
    top: 48px;
    /* border: 2px solid blue; */
}

.senior-software{
    position: absolute;
    left: 0.5px;
    right: 29.32%;
    top: 0.82%;
    bottom: 89.26%;
    height: 87px;
    width: 468px;
}

.day-time{
   display: flex;
}

.day-time #week{
    position: absolute;
    height: 16px;
    left: 0%;
    font-family: Kumbh;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #6E8098;
}

.day-time #dot{
    position: absolute;
    height: 16px;
    left: 12.15%;
    font-family: Kumbh;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 5.8px;
    text-transform: capitalize;
    color: #6E8098;
}

.day-time #time{
    position: absolute;
    height: 16px;
    left: 15.18%;
    font-family: Kumbh;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.8px;
    text-transform: capitalize;
    color: #6E8098;
}

.engineer{
    position: absolute;
    left: 0%;
    text-transform: capitalize;
    top: 31.03%;
    height: 34px;
    width: 337px;
    top: 27px;
}

.engineer p{
    position: absolute;
    height: 28px;
    left: 0%;
    right: 0.3%;
    top: calc(50% - 28px/2 - 3px);
    font-family: Kumbh;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: var(--text-color);
    /* border: 2px solid red; */
}

.country{
    position: absolute;
    height: 14px;
    left: 0%;
    top: calc(50% - 14px/2 + 32.5px);
    font-family: Kumbh;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #5964E0;
    text-transform: capitalize;
}

/* Apply Now */
.apply button{
    position: absolute;
    top: calc(50% - 28px/2 - 5px); 
    text-transform: capitalize;
    font-family: Kumbh;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    color: #FFFFFF;
    left: 77.79%;
    right: 5.89%;
    width: 145px;
    height: 48px;
    background-color: #5964E0;
}

.apply button:hover{
    background-color: rgba(147, 155, 244, 1);
}

/* Lorem ipsum dolor si */
.text1{
    position: absolute;
    height: 234px;
    left: 6.58%;
    right: 5.89%;
    top: calc(50% - 234px/2 - 336.5px);
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6E8098;
}

/* Requirements */
.requirements{
    position: absolute;
    height: 20px;
    left: 6.58%;
    right: 75.21%;
    top: calc(50% - 20px/2 - 169.5px);
    font-family: Kumbh;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: var(--text-color);
}

/* Morbi interdum molli */
.text2{
    position: absolute;
    height: 130px;
    left: 6.58%;
    right: 5.89%;
    top: calc(50% - 130px/2 - 66.5px);
    font-family: Kumbh;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #6E8098;
}

.list{
    position: absolute;
    width: 639px;
    height: 154px;
    left: 48px;
    top: 651px;
    display: flex;
    flex-direction: column;
}


.list-1{
    position: absolute;
    left: 6.58%;
    right: 5.89%;
    top: 2.79%;
    bottom: 80.14%;
    
}

.list-1 p{
    position: absolute;
    height: 26px;
    left: 5.63%;
    right: 0%;
    top: calc(50% - 26px/2);
    font-family: Kumbh;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6E8098;
}

.list-one{
    position: absolute;
    height: 26px;
    left: 0%;
    right: 98.75%;
    top: calc(50% - 26px/2);
    font-family: Kumbh;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #5964E0;
}

.list-2{
    position: absolute;
    left: 6.58%;
    right: 5.89%;
    top: 27.79%;
    bottom: 60.14%;
}

/* Phasellus lacinia ma */
.list-2 p{
    position: absolute;
    height: 26px;
    left: 5.63%;
    right: 0%;
    top: calc(30% - 26px/2);
    font-family: Kumbh;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6E8098;
}

.list-3{
    position: absolute;
    left: 6.58%;
    right: 5.89%;
    top: 60.79%;
    height: 52p
}

.list-3 p{
    position: absolute;
    height: 52px;
    left: 5.63%;
    right: 0%;
    top: calc(50% - 52px/2);
    font-family: Kumbh;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6E8098;

}

.list-4{
    position: absolute;
    left: 6.58%;
    right: 5.89%;
    top: 80.97%;
    bottom: 0.96%;
    
}

.list-4 p{
    position: absolute;
    height: 26px;
    left: 5.63%;
    right: 0%;
    top: calc(50% - 26px/2);
    font-family: Kumbh;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6E8098;
}

.action{
    position: absolute;
    left: 6.58%;
    right: 5.89%;
    top: 67.86%;
    bottom: 17.98%;
}

/* What You Will Do */
.action #what{
    position: absolute;
    height: 25px;
    left: 0%;
    right: 73.87%;
    top: calc(50% - 25px/2 - 76.5px);
    font-family: Kumbh;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: var(--text-color);
    text-transform: capitalize;
}

/* Sed egestas, ante et */
.action #paragraph{
position: absolute;
height: 130px;
left: 0%;
right: 0%;
top: calc(50% - 130px/2 + 24px);

font-family: Kumbh;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #6E8098;
}


.action-list{
    position: absolute;
    width: 639px;
    height: 154px;
    left: 48px;
    top: 1055px;
    display: flex;
    flex-direction: column;
}

.one{
    position: absolute;
    height: 26px;
    left: 0%;
    right: 98.75%;
    top: calc(50% - 26px/2);
    font-family: Kumbh;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #5964E0;
}

.action-1{
    position: absolute;
    left: 6.58%;
    right: 5.89%;
    top: 2.79%;
    bottom: 80.14%;
    
}

.action-1 p{
    position: absolute;
    height: 26px;
    left: 5.63%;
    right: 0%;
    top: calc(50% - 26px/2);
    font-family: Kumbh;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6E8098;

}

.action-2{
    position: absolute;
    left: 6.58%;
    right: 5.89%;
    top: 27.79%;
    bottom: 60.14%;
}

/* Phasellus lacinia ma */
.action-2 p{
    position: absolute;
    height: 26px;
    left: 5.63%;
    right: 0%;
    top: calc(30% - 26px/2);
    font-family: Kumbh;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6E8098;
}

.action-3{
    position: absolute;
    left: 6.58%;
    right: 5.89%;
    top: 60.79%;
    height: 52p
}

.action-3 p{
    position: absolute;
    height: 52px;
    left: 5.63%;
    right: 0%;
    top: calc(50% - 52px/2);
    font-family: Kumbh;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6E8098;

}

.action-4{
    position: absolute;
    left: 6.58%;
    right: 5.89%;
    top: 80.97%;
    bottom: 0.96%;
    
}

.action-4 p{
    position: absolute;
    height: 26px;
    left: 5.63%;
    right: 0%;
    top: calc(50% - 26px/2);
    font-family: Kumbh;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6E8098;
}

.foot{
    position: relative;
    height: 96px;
    background: #FFFFFF;
    border-radius: 6px;
    top: 80px;
}

.footer{
    position: absolute;
    height: 51px;
    width: 730px;
    left: 355px;
    top: 23px;
    bottom: 22px;
}

.footer-text{
    width: 241px;
    height: 51px;
    left: 355px;
    top: 23px;
}

.engineer1{
    position: absolute;
    height: 25px;
    left: 0%;
    right: -0.41%;
    top: calc(50% - 25px/2 - 13px);
    text-transform: capitalize;
    font-family: Kumbh;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #19202D;
}

/* So Digital Inc. */
.digital{
    position: absolute;
    height: 20px;
    left: 0%;
    right: 58.51%;
    top: calc(50% - 20px/2 + 16.5px);
    font-family: Kumbh;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: #6E8098;
}



