:root{
    --container-background-color: rgba(244, 246, 248, 1);
    --main-theme-color: rgba(147, 155, 244, 1);
    --content-color: rgba(255, 255, 255, 1);
    --input-search-color: rgba(25, 32, 45, 1);
    --input-background-color: rgba(255, 255, 255, 1);
    --toggler-background-color: rgba(255, 255, 255, 1);
    --toggle-color: rgba(147, 155, 244, 1);
    --text-color: rgba(25, 32, 45, 1);

}

.dark-mode{
    --container-background-color: rgb(6, 12, 24);
    --main-theme-color: rgb(158, 153, 150);
    --content-color: rgb(28, 40, 61);
    --input-background-color: rgb(28, 40, 61);
    --position-color: #fff;
    --toggler-background-color: rgba(255, 255, 255, 1);;
    --toggle-color: rgba(147, 155, 244, 1);
    --text-color: rgba(255, 255, 255, 1);
}

@font-face {
    font-family: Kumbh;
    src: url(/starter-code/assets/Kumbh_Sans/static/KumbhSans-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Kumbh;
}

.container{
    
    width: 100vw;
    min-height: 100vh;
    background: var(--container-background-color);
    display: flex;
    flex-direction: column;
    font-family: Kumbh;
}
.header{
    width: 100vw;
    position: relative;
}

.top{
   width: 100vw;
   background-image: url(/images/headerBack.svg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   border-radius: 0px 0px 0px 100px;
   display: flex;
   height: 130px;
   align-items: center;
   justify-content: space-between;
   padding: 10px 150px 40px 150px;
}
.logo{
    margin-left: 10px;
}

.toggle{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}
.toggle-button{
    width: 60px;
    height: 25px;
    border-radius: 30px;
    background: var(--toggler-background-color);
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.toggle-button > div{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.toggle-button .active-theme{
    background: var(--toggle-color);
}
/* .toggle-button .not-active-theme{
    background: var(--toggler-background-color);
} */

.search-box{
    display: flex;
    width: 78vw;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: var(--content-color);
    padding: 10px;
    height: 60px;
    border-radius: 6px;
    align-items: center;
    gap: 12px;
}

.input-company{
    width: 50%;
    border-right: 1px solid #f5f5f5;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.input-company input{
    width: 100%;
    height: 40px;
    text-align: left;
    outline: none;
    border: none;
    font-size: 14px;
    color: var(--input-search-color);
    background-color: var(--input-background-color);
}

.input-location{
    width: 40%;
    border-right: 1px solid #f5f5f5;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.input-location input{
    width: 100%;
    height: 40px;
    text-align: left;
    outline: none;
    border: none;
    font-size: 14px;
    color: var(--input-search-color);
    background-color: var(--input-background-color);
}
.input-button{
    width: 30%;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 20px;
    /* accent-color: rgba(151, 151, 151, 1); */
}

.input-button input[type="checkbox"]:checked{
    accent-color: rgba(89, 100, 224, 1);
}

.input-button input[type="checkbox"]{
    width: 20px;
    height: 20px;
}
.input-button button{
    background-color: rgba(89, 100, 224, 1);
    border: none;
    width: 130px;
    height: 40px;
    color: #f5f5f5;
    border-radius: 5px;
    gap: 15px;
}

.input-button button:hover{
    background-color: rgba(147, 155, 244, 1);
}

.content{
    /* border: 2px solid green; */
    margin-top: 50px;
    margin-left: 160px;
    margin-right: 160px;
    min-height: 78vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 3.5rem;
}
.parent-card{
    /* border: 2px solid rgb(0, 0, 0); */
    height: 25vh;
    width: 30%;

}
.parent-card a{
    text-decoration: none;
    color: black;
}

.card{
    /* border: 2px solid rgb(255, 0, 0); */
    margin-top: 40px;
    height: 19.5vh;
    /* background-color: rgba(255, 255, 255, 1); */
    background: var(--content-color);
    position: relative;
    border-radius: 6px;
    
}
.job-logo{
    /* border: 2px solid blue; */
    margin-left: 20px;
    position: absolute;
    transform: translate(10%, -50%);

}
.job-content{
    /* border: 2px solid rgb(231, 23, 203); */
    height: 20vh;
}
.time-posted{
    /* border: 2px solid red; */
    margin-top: 30px;
    padding-top: 30px;
    /* text-align: center; */
    padding-left: 25px;
}
.job-type{
    /* border: 2px solid black; */
    margin-top: 6px;
    padding-left: 25px;
    color: var(--position-color);
}
.job-company{
    /* border: 2px solid red; */
    margin-top: 6.5px;
    padding-left: 25px;
}
.job-location{
    /* border: 2px solid darkgreen; */
    margin-top: 15px;
    padding-left: 25px;
    color: rgba(89, 100, 224, 1);
}


.load-more{
    /* border: 2px solid darkgreen; */
    margin-top: 45px;
    margin-left: 655px;
    /* margin-right: 455px; */
    margin-bottom: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    
}
.load-more button{
    background-color: rgba(89, 100, 224, 1);
    border: none;
    width: 130px;
    height: 100%;
    color: #f5f5f5;
    align-self: center;
    border-radius: 5px;
}

.load-more button:hover{
    background-color: rgba(147, 155, 244, 1);
}

/* desktop with 1024 min-width screens */
@media only screen and (max-width: 1024px) {
    .container{
        display: flex;
        /* flex-direction: column; */
        background-color: lightcoral;
    }
    .top{
        display: flex;
        height: 120px;
        align-items: center;
        justify-content: space-between;
        padding: 10px 150px 40px 150px;
        gap: 100px;
    }
    .logo{
        margin-left: -50px;
    }

    .toggle{
        margin-right: -50px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .search-box{
        display: flex;
        width: 80vw;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, 50%);
        background: var(--content-color);
        padding: 2px;
        height: 70px;
        border-radius: 6px;
        align-items: center;
        gap: 5px;
        /* border: 2px solid red; */
    }
    .input-company{
        /* border: 2px solid black; */
        width: 30%;
        border-right: 1px solid #f5f5f5;
        height: 60px;
        display: flex;
        align-items: center;
        gap: 3px;
    }
    .input-company img{
        /* border: 2px solid blue; */
        height: 3vh;
    }
    .input-company input{
        /* border: 2px solid red; */
        width: 80%;
        height: 30px;
        text-align: left;
        outline: none;
        border: none;
        font-size: 12px;
        color: var(--text-color);
        background-color: var(--input-background-color);
    }

    .input-location{
        width: 30%;
        border-right: 1px solid #f5f5f5;
        height: 60px;
        display: flex;
        align-items: center;
        gap: 3px;
    }
    .input-location img{
        /* border: 2px solid blue; */
        height: 3vh;
    }
    .input-location input{
        /* border: 2px solid red; */
        width: 90%;
        height: 30px;
        text-align: left;
        outline: none;
        border: none;
        font-size: 12px;
        color: var(--text-color);
        background-color: var(--input-background-color);
    }

    .input-button{
        /* border: 2px solid black; */
        width: 40%;
        height: 60px;
        display: flex;
        align-items: center;
        gap: 13px;
        margin-left: none;
    }
    .input-button p{
        text-align: justify;
        font-size: 13px;
        width: 40%;
        /* border: 2px solid red; */
        color: var(--text-color);
    }

    .input-button button{
        /* border: 2px solid red; */
        width: 30%;
        height: 40px;
        text-align: center;
        outline: none;
        border: none;
        font-size: 13px;
        /* background-color: var(--input-background-color); */
    }
    .content{
        display: flex;
        margin-left: 100px;
        margin-right: 100px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 70px;
        min-height: 150vh;
        /* border: 2px solid red; */
    }
    .parent-card{
        width: 30%;
        min-height: 30vh;
        /* border: 2px solid red; */
    }
    .card{
        /* border: 2px solid blue; */
        height: 24vh;
        position: relative;
    }
    .load-more{
        /* border: 2px solid darkgreen; */
        margin-top: 50px;
        margin-left: 430px;
        margin-bottom: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 130px;
    }
}


/* responsive for tablet screens */
@media only screen and (max-width: 768px) {
    .container{
        display: flex;
        /* flex-direction: column; */
        background-color: aqua;
    }
    .top{
        display: flex;
        height: 120px;
        align-items: center;
        justify-content: space-between;
        padding: 10px 150px 40px 150px;
        gap: 100px;
    }
    .logo{
        margin-left: -75px;
    }

    .toggle{
        margin-right: -73px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .search-box{
        display: flex;
        width: 80vw;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, 50%);
        background: var(--content-color);
        padding: 2px;
        height: 70px;
        border-radius: 6px;
        align-items: center;
        gap: 5px;
        /* border: 2px solid red; */
    }
    .input-company{
        /* border: 2px solid black; */
        width: 30%;
        border-right: 2px solid #f5f5f5;
        height: 60px;
        display: flex;
        align-items: center;
        gap: 3px;
    }
    .input-company img{
        /* border: 2px solid blue; */
        height: 3vh;
    }
    .input-company input{
        /* border: 2px solid red; */
        width: 80%;
        height: 30px;
        text-align: left;
        outline: none;
        border: none;
        font-size: 12px;
        color: var(--text-color);
        background-color: var(--input-background-color);
    }

    .input-location{
        width: 30%;
        border-right: 2px solid #f5f5f5;
        height: 60px;
        display: flex;
        align-items: center;
        gap: 3px;
    }
    .input-location img{
        /* border: 2px solid blue; */
        height: 3vh;
    }
    .input-location input{
        /* border: 2px solid red; */
        width: 90%;
        height: 30px;
        text-align: left;
        outline: none;
        border: none;
        font-size: 12px;
        color: var(--text-color);
        background-color: var(--input-background-color);
    }

    .input-button{
        /* border: 2px solid black; */
        width: 40%;
        height: 60px;
        display: flex;
        align-items: center;
        gap: 13px;
        margin-left: none;
    }
    .input-button p{
        text-align: justify;
        font-size: 13px;
        width: 40%;
        /* border: 2px solid red; */
        color: var(--text-color);
    }

    .input-button button{
        /* border: 2px solid red; */
        width: 30%;
        height: 40px;
        text-align: center;
        outline: none;
        border: none;
        font-size: 13px;
        /* background-color: var(--input-background-color); */
    }
    .content{
        display: flex;
        margin-left: 75px;
        margin-right: 75px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 70px;
        min-height: 150vh;
    }
    .parent-card{
        width: 49.5%;
        min-height: 30vh;
        /* border: 2px solid red; */
    }
    .card{
        /* border: 2px solid blue; */
        height: 24vh;
        position: relative;
    }
    .load-more{
        /* border: 2px solid darkgreen; */
        margin-top: 40px;
        margin-left: 325px;
        margin-bottom: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 130px;
    }
}

@media only screen and (max-width: 425px) {
    .container{
        display: flex;
        /* flex-direction: column; */
        background-color: lightgreen;
    }
    .top{
        display: flex;
        height: 120px;
        align-items: center;
        justify-content: space-between;
        padding: 10px 150px 40px 150px;
        gap: 10px;
        /* border: 2px solid red; */
        background-image: url(/images/headerBack.svg);
        border-radius: 0px;
    }
    .logo{
        margin-left: -110px;
    }

    .toggle{
        margin-right: -110px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .search-box{
        display: flex;
        width: 80vw;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, 50%);
        background: var(--content-color);
        padding: 2px;
        height: 70px;
        border-radius: 6px;
        align-items: center;
        gap: 5px;
        /* border: 2px solid red; */
    }
    .input-company{
        width: 70%;
        padding-left: 20px;
        border: none;
    }
    .input-company img{
        /* border: 2px solid blue;
        height: 3vh; */
        display: none;
    }
    .input-company input{
        /* border: 2px solid red; */
        width: 80%;
        height: 30px;
        text-align: left;
        outline: none;
        border: none;
        font-size: 15px;
        color: var(--text-color);
        background-color: var(--input-background-color);
    }

    .input-location{
        display: none;
    }
    .input-location img{
        display: none;
    }
    .input-location input{
        display: none;
    }

    .input-button{
        /* border: 2px solid black; */
        width: 40%;
        height: 60px;
        display: flex;
        align-items: center;
        gap: 13px;
        margin-left: none;
        gap: 25px;
    }
    .input-button input{
        display: none;
    }   

    .input-button p{
        display: none;
    }
    /* filter for mobile */
    .filter{
        background-image: url(/starter-code/assets/mobile/icon-filter.svg);
        width: 25px;
        background-repeat: no-repeat;
        height: 25px;
        /* border: 2px solid red; */
        background-size: cover;
        background-position: center;
    }

    .input-button button{
        /* border: 2px solid red; */
        width: 50%;
        height: 50px;
        text-align: center;
        outline: none;
        border: none;
        font-size: 13px;
        /* background-color: var(--input-background-color); */
    }
    .content{
        display: flex;
        margin-left: 45px;
        margin-right: 45px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 70px;
        min-height: 150vh;
        /* border: 2px solid blue; */
    }
    .parent-card{
        width: 110vw;
        min-height: 35vh;
        /* border: 2px solid red; */
    }
    .card{
        /* border: 2px solid blue; */
        height: 29vh;
        position: relative;
    }
    .job-content{
        /* border: 2px solid green; */
        min-height: 28vh;
    }
    .time-posted{
        padding-top: 50px;
    }
    .job-type{
        padding-top: 10px;
    }
    .job-location{
        padding-top: 10px;
    }
    .load-more{
        /* border: 2px solid darkgreen; */
        margin-top: 40px;
        margin-left: 135px;
        margin-bottom: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 130px;
    }
}